---
layout: reveal
title: sketchnoting for developers
---

{% for post in site.posts reversed %}
<!-- styles for each picture -->
<section {% if post.class %}data-state="{{post.class}}"{% endif %} {% if post.background %}data-background="{{post.background}}"{% endif %} {% if post.background-size %}data-background-size="{{post.background-size}}"{% endif %} {% if post.autoslide %}data-autoslide="{{post.autoslide}}"{% endif %}>
{{ post.content }}
<!-- debug only -->
<p>{{ post.url page.date }}</p>
</section>
{% endfor %}
